{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Create group</h1>
    </div>
    <div class="row">
        <div class="col-5">
            {% include 'group/form.html.twig' with {form: form} %}
        </div>
    </div>
{% endblock %}